<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStaffService" />
                <binding name="BasicHttpBinding_IVacationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/StaffService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStaffService" contract="Proxies.StaffService.IStaffService"
                name="BasicHttpBinding_IStaffService" />
            <endpoint address="http://localhost:8080/VacationService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVacationService" contract="Proxies.VacationService.IVacationService"
                name="BasicHttpBinding_IVacationService" />
        </client>
    </system.serviceModel>
</configuration>